.slick
  &-prev,
  &-next
    top 40%
    &:before
      font-size 3.2rem
      color $main
      transition color .2s
    &:hover
      &:before
        color $primary
  &-prev
    &:before
      content '\f104'
      font-family 'FontAwesome'
  &-next
    &:before
      content '\f105'
      font-family 'FontAwesome'


.video-js
  // Who needs this ?
  .vjs-big-play-button
    display: none
  // Make the controlbar visible by default
  .vjs-control-bar
    display flex
  // The spinner is useless when there is just the controller only mode
  .vjs-loading-spinner
    display none



