extends layout.pug

block content
  .grid.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link О проекте
            a(href="").breadcrumbs__link.breadcrumbs__link--active Общая информация
    .row.offset
      include ./components/about_nav.pug
      .col.col--md-9
        h1.h1 Отзывы о проекте
        form.comment.comment-form
          .comment__left
            label.comment__photo.nophoto(for="nophoto")
              input#nophoto(type="file")
          .comment__right
            .comment__name Александр Романов
            textarea.comment__textarea(placeholder="Ваш отзыв")
            button.btn.btn--primary.btn--solid Отправить
        -for(var y = 0; y < 5; y++)
          .comment
            .comment__left
              .comment__photo
                img(src="img/user.jpg" alt="")
            .comment__right
              .comment__name Александр Романов
              .comment__date 3 марта 2017
              .comment-text Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны постоянное информационно - пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения
        .center
          .btn.btn--secondary.btn--solid.btn--small
            span Показать еще
            i.reload


    include viewed.pug
