extends layout.pug

block content
  .grid.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link О проекте
            a(href="").breadcrumbs__link.breadcrumbs__link--active Общая информация
    .row.offset
      include ./components/about_nav.pug
      .col.col--md-9
        h1.h1 Команда &laquo;Свадебные штучки&raquo;
        .team
          .team__item.item
            .row.row--xs-center
              .col.col--sm-3.col--xs-5
                .item__img(style="background-image: url('img/about-1.jpg')")
              .col.col--sm-9.col--xs-7
                .item__container
                  .item__name Валерий Галанский
                  .item__role Основатель и бессменный руководитель проекта
          .team__item.item
            .row.row--xs-center
              .col.col--sm-3.col--xs-5
                .item__img(style="background-image: url('img/about-2.jpg')")
              .col.col--sm-9.col--xs-7
                .item__container
                  .item__name Ольга Козлова
                  .item__role Специалист по работе с клиентами
          .team__item.item
            .row.row--xs-center
              .col.col--sm-3.col--xs-5
                .item__img(style="background-image: url('img/about-3.jpg')")
              .col.col--sm-9.col--xs-7
                .item__container
                  .item__name Вера Алещенко
                  .item__role PR-менеджер
          .team__item.item
            .row.row--xs-center
              .col.col--sm-3.col--xs-5
                .item__img(style="background-image: url('img/about-4.jpg')")
              .col.col--sm-9.col--xs-7
                .item__container
                  .item__name Валерия Питько
                  .item__role Project-менеджер
          .team__item.item
            .row.row--xs-center
              .col.col--sm-3.col--xs-5
                .item__img(style="background-image: url('img/about-5.jpg')")
              .col.col--sm-9.col--xs-7
                .item__container
                  .item__name Михаил Сенчихин
                  .item__role Технический директор


    include viewed.pug
