extends layout.pug

block content
  .grig.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link О проекте
            a(href="").breadcrumbs__link.breadcrumbs__link--active Общая информация
    .row.offset
      .col.col--sm-3
        nav.sitebar
          li: a(href="").sitebar__link.sitebar__link--active Общая информация
          li: a(href="").sitebar__link Как это работает?
          li: a(href="").sitebar__link Команда "Свадебные штучки"
          li: a(href="").sitebar__link Партнеры и друзья
          li: a(href="").sitebar__link Нормативные документы
          li: a(href="").sitebar__link Отзывы о проекте
      .col.col--sm-9
        h1.h1 Общая информация
        p Мы ждали Вас и очень рады, что именно Вы заглянули в наш уютный праздничный офис. Да-да, мы старательно готовились к этой встрече, собирая для Вас всё самое свежее и интересное из мира свадеб. Скорее же давайте знакомиться! Мы – команда проекта «Свадебные штучки», для которой организация праздников – возможность сделать самые важные моменты Вашей жизни еще более яркими, трогательными и запоминающимися!
        p Перед Вами не обычный каталог праздничных услуг. Составляя его, мы пытались предугадать все Ваши требования и пожелания по поводу предстоящего торжества, а еще – поделиться своими секретами проведения успешного праздника. Обратите внимание, что на страницы нашего сайта попали только опытные и имеющие отличные рекомендации специалисты и организации. Вы можете убедиться в этом сами, просмотрев их подробные профили, в которых найдете яркие фото- и видеоотчеты, а также отзывы благодарных клиентов. Там же указаны и их контактные данные.
        p Для Вашего удобства мы также разработали мобильное приложение праздничных/свадебных услуг. Скачать его абсолютно бесплатно можно в AppStore и Google Play.
        p Ну, и конечно же, наш свадебный консультант с нетерпением ждёт Вас в гости на чаепитие! В теплой дружеской атмосфере Вы сможете рассказать ему о том, каким должен быть Ваш идеальный праздник, а он поделится с Вами идеями, как воплотить мечту в жизнь!

    include viewed.pug
