extends layout.pug

block content
  .grig.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm-3
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link Каталог
            a(href="").breadcrumbs__link.breadcrumbs__link--active Ведущие
        .col.col--sm-9
          h1 Ведущие в Краснодаре
    .row
      .col.col--sm-3
        nav.sitebar
          li: a(href="").sitebar__link.sitebar__link--special Эксклюзивные предложения
          li: a(href="").sitebar__link.sitebar__link--active Ведущие
          li: a(href="").sitebar__link Аниматоры
          li: a(href="").sitebar__link Популярные артисты и актеры
          li: a(href="").sitebar__link Музыкальное оформление
          li: a(href="").sitebar__link Шоу-программы
          li: a(href="").sitebar__link Танцевальные программы
          li: a(href="").sitebar__link Фото
          li: a(href="").sitebar__link Видео
          li: a(href="").sitebar__link Транспорт
          li: a(href="").sitebar__link Обеспечение мероприятий
          li: a(href="").sitebar__link Производство
          li: a(href="").sitebar__link Оформление и декор
          li: a(href="").sitebar__link Агентства и организаторы
          li: a(href="").sitebar__link Образ и красота
          li: a(href="").sitebar__link Стиль и имидж
          li: a(href="").sitebar__link Кейтеринг
          li: a(href="").sitebar__link Кафе, рестораны
          li: a(href="").sitebar__link Отели и гостиницы
          li: a(href="").sitebar__link Ювелирные изделия
          li: a(href="").sitebar__link Кондитеры
          li: a(href="").sitebar__link Фейерверки и салюты
          li: a(href="").sitebar__link Изделия ручной работы
      .col.col--sm-9
        .row.catalog
          -for(var i = 0; i < 16; i++)
            .col.col--xl-3.col--lg-4.col--md-6
              .specialist
                a(href="" style="background-image: url(img/specialist.jpg)").specialist__photo
                  .specialist__plate Акция!
                a(href="").specialist__name Анна Веретина
                .specialist__role Ведущая
        .center
          .btn.btn--secondary.btn--solid
            span Показать еще
            i.reload
