doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Wedding office
    meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="styles/css/vendor.css")
    link(rel="stylesheet", href="styles/css/main.css")
  body

    #mobile-menu.mobile-menu
      .mobile-nav.nav
        li: a(href="catalog.html").header-nav__link Каталог
        li: a(href="tenders.html").header-nav__link Тендеры
        li: a(href="news.html").header-nav__link Новости
        li: a(href="articles.html").header-nav__link Статьи
        li: a(href="consultant.html").header-nav__link Cвадебный консультант
        li: a(href="about_info.html").header-nav__link О проекте
      .mobile-menu__bottom
        .socials
          a(href="").socials__item
            i.fa.fa-vk
          a(href="").socials__item
            i.fa.fa-instagram
          a(href="").socials__item
            i.fa.fa-twitter
          a(href="").socials__item
            i.fa.fa-facebook
        a(href="#modal").btn.btn--primary.btn--solid.modal-open Войти
        a(href="").btn.btn--primary Разместить заявку 
    #page.page
      section.empty
      header.main-header
        .grid.grid--container.grid--no-gutters
          .row.row--sm-center.row--no-gutters
            .col.col--xl-8.col--sm-7.col--no-gutters
              a(href="./pages.html").logo
              nav.header-nav
                li: a(href="catalog.html").header-nav__link Каталог
                li: a(href="tender_specialist.html").header-nav__link Тендеры
                li: a(href="news.html").header-nav__link Новости
                li: a(href="articles.html").header-nav__link Статьи
                li: a(href="consultant.html").header-nav__link Cвадебный консультант
                li: a(href="about_info.html").header-nav__link О проекте
            .col.col--xl-4.col--sm-5.col--no-gutters.main-header__right
              .city
                .city-selection
                  .city-selection__city
                    span Краснодар
                    .fa.fa-angle-down
                  .city-selection__body
                    .city-selection__title Выберите город
                    .city-selection__close
                    .form-control
                      input(type="text")
                      label Название города
                      i.form-control__icon.fa.fa-search
                    ul.city-selection__list
                      li
                        a(href="").link Краснодар
                      li
                        a(href="").link Сочи
                      li
                        a(href="").link Армавир
                      li
                        a(href="").link Новороссийск
                      li
                        a(href="").link Анапа
              a(href="#modal").link.link--primary.modal-open.open-enter-modal-desctop Войти
              a(href="#modal").modal-open.open-enter-modal-mobile
              a(href="").btn.btn--primary.btn--order-desc Разместить заявку
              a(href="").btn.btn--primary.btn--order-mobile Заявка
              .mobile-menu-toggle
                span
                span
                span

      
      
      .grid.grid--no-gutters.banners
        .row.row--no-gutters
          .col.col--sm-6.col--no-gutters
            a(href="").banner.banner--type-1.banner--left
              i.banner__icon.banner__icon--microphone
              .banner__title Ежегодная встреча шоуменов
          .col.col--sm-6.col--no-gutters
            a(href="").banner.banner--type-2.banner-right
              i.banner__icon.banner__icon--thing
              .banner__title Премия «Золотая штучка»

      main
        block content

      footer.main-footer
        .grid.grid--container
          .row
            .col.col--lg-2.col--sm-3
              .logo
            .col.col--lg-6.col--sm-6
              p Проект &laquo;Свадебные штучки&raquo; не несёт ответственность за текстовые, фото-, видео-, и аудиоматериалы, предоставляемые специалистами и организациями, размещёнными на сайте www.wedding-office.ru.
            .col.col--lg-4.col--sm-3
              .main-footer__socials.socials
                a(href="").socials__item
                  i.fa.fa-vk
                a(href="").socials__item
                  i.fa.fa-instagram
                a(href="").socials__item
                  i.fa.fa-twitter
                a(href="").socials__item
                  i.fa.fa-facebook

        .main-footer__bottom
          .grid.grid--container
            .row.row--sm-center
              .col.col--sm-8
                .copyright
                  span &copy; 2017 ООО &laquo;Бизнес Медиа Групп&raquo;. Информационный портал «Свадебные штучки»
              .col.col--sm-4
                .webformula
                  img(src="img/wf.png", alt="")
                  span &mdash; разработка сайта 
                  a(href="").link Webformula

    #modal.modal
      .modal__title Войти
      form.form
        .form-control.form-control--error
          input(type="email" pattern="/^$|\s+/")
          label E-mail
          i.form-control__icon.fa.fa-envelope
        .form-control
          input(type="password" pattern="/^$|\s+/")
          label Пароль
          i.form-control__icon.fa.fa-lock
        .row
          .col.col--sm-7
            label.checkbox
              input(type="checkbox" id="checkbox-1")
              label(for="checkbox-1")
              span Запомнить пароль
          .col.col--sm-5.text-right
            a(href="").link Забыли пароль
        p.text-error Неверное имя пользователя или пароль. Проверьте правильность введенных данных.
          .col.col--sm-8.col--sm-offset-2
            .center
              .btn.btn--primary.btn--full-width Войти
              .modal__label.modal__label--type-2 или через
              .socials-type-2.justify
                a(href="")
                  i.fa.fa-vk
                a(href="")
                  i.fa.fa-odnoklassniki
                a(href="")
                  i.fa.fa-facebook
                a(href="")
                  i.fa.fa-twitter
              .modal__label Впервые на сайте?
              .btn.btn--primary.btn--full-width.btn--solid Зарегистрировтаься

  include components/layoutlibs.pug