extends layout.pug

block content
  .grig.grid--container
    .row
      .col.col--sm-12
        .breadcrumbs
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link.breadcrumbs__link--active Личный кабинет

    .row
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1.col--sm-12
        .tabs
          nav.tabs__header.tabs__header--links
            a.tabs__link.tabs__link--active(href="./lk_specialist_edit_profile.html") Профиль
            a.tabs__link(href="./lk_specialist_edit_portfolio.html") Портфолио
            a.tabs__link(href="./lk_specialist_edit_sales.html") Акции
            a.tabs__link(href="./lk_specialist_edit_balance.html") Баланс

          .tabs__content.tabs__content--active
            form.form
              h3.h3 Аватар или логотип
              .ava(style="background: url(img/ava.jpg)")
              label(for="file-upload").btn.btn--primary.btn--solid Изменить фото
                input(type="file" id="file-upload")
              .row
                .col.col--sm-6
                  h3.h3 Персональные данные
                  .form-control
                    input(type="text" value="Петя")
                    label Фамилия
                  .form-control
                    input(type="text")
                    label Имя
                  .form-control
                    input(type="text")
                    label Отчество
                  .form-control
                    input(type="email")
                    label E-mail
                    i.form-control__icon.fa.fa-envelope
                  .form-control
                    input(type="text").datepicker
                    label Дата рождения
                    i.form-control__icon.fa.fa-calendar-o
                  .form-control
                    select(pattern="/^$|\s+/").custom-select
                      option Город
                      option Краснодар
                    i.form-control__icon.fa.fa-angle-down
                  .form-control
                    input(type="text")
                    label Новый пароль
                    i.form-control__icon.fa.fa-lock
                  .form-control
                    input(type="text")
                    label Повторите пароль
                    i.form-control__icon.fa.fa-lock
                  h3.h3 Контактная информация
                  .form-control
                    input(type="text")
                    label Номер телефона
                    i.form-control__icon.fa.fa-phone
                  .form-control
                    input(type="text")
                    label Второй номер телефона (если есть)
                    i.form-control__icon.fa.fa-phone
                  h3.h3 Информация об организации
                  .form-control
                    input(type="text")
                    label ИНН
                  .row
                    .col.col--sm-6
                      .form-control
                        input(type="text")
                        label Адрес (если есть)
                    .col.col--sm-6
                      .form-control
                        input(type="text")
                        label Номер офиса
                  .form-control
                    input(type="text")
                    label Название организации (если есть)
                .col.col--sm-6
                  h3.h3 Социальные сети
                  .form-control
                    input(type="text")
                    label Vk
                    i.form-control__icon.fa.fa-vk
                  .form-control
                    input(type="text")
                    label Instagram
                    i.form-control__icon.fa.fa-instagram
                  .form-control
                    input(type="text")
                    label Facebook
                    i.form-control__icon.fa.fa-facebook
                  .form-control
                    input(type="text")
                    label Youtube
                    i.form-control__icon.fa.fa-youtube
                  .form-control
                    input(type="text")
                    label Одноклассники
                    i.form-control__icon.fa.fa-odnoklassniki
                  .form-control
                    input(type="text")
                    label Twitter
                    i.form-control__icon.fa.fa-twitter
                  .form-control
                    input(type="text")
                    label Vimeo
                    i.form-control__icon.fa.fa-vimeo
                  .form-control
                    input(type="text")
                    label Мой мир
                    i.form-control__icon
                  h3.h3 Данные об исполнителе
                  .form-control
                    select(pattern="/^$|\s+/" data-placeholder="Город").custom-select
                      option
                      option Краснодар
                      option Сочи
                    i.form-control__icon.fa.fa-angle-down
                  .form-control
                    input(type="text")
                    label Сайт
                  .row
                    .col.col--sm-6
                      .form-control
                        input(type="text")
                        label Стоимость за час
                    .col.col--sm-6
                      .form-control
                        input(type="text")
                        label За мероприятие
                  .form-control
                    textarea(pattern="/^$|\s+/")
                    label Информация о мероприятии
                    .form-control__words 0/1000
                
                .col.col--lg-12
                  .text--sm-center
                    button.btn.btn--primary Сохранить изменения


  include viewed.pug