extends layout.pug

block content
  .grig.grid--container
    .row
      .col.col--sm-12
        .breadcrumbs
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link.breadcrumbs__link--active Личный кабинет

    .row
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1.col--sm-12
        .tabs
          nav.tabs__header.tabs__header--links
            a.tabs__link(href="./lk_specialist_edit_profile.html") Профиль
            a.tabs__link.tabs__link--active(href="./lk_specialist_edit_portfolio.html") Портфолио
            a.tabs__link(href="./lk_specialist_edit_sales.html") Акции
            a.tabs__link(href="./lk_specialist_edit_balance.html") Баланс

          .tabs__content.tabs__content--active
            h2.h2 Портфолио
            .tabs.tabs--type-2
              nav.tabs__header
                li.tabs__link.tabs__link--active
                  span Фото
                li.tabs__link
                  span Видео
                li.tabs__link
                  span Аудио
                li.tabs__link
                  span Награды и сертификаты

              .tabs__contents
                .tabs__content.tabs__content--active
                  form(action="/" method="post" enctype="multipart/form-data").dragndrop.dropzone.dashed.dashed--gray
                    input(type="file" multiple)
                  .masonry.masonry--offset.portfolio-gallery
                    -for(var i = 1; i < 10; i++)
                      .masonry__column.remove-container
                        span.remove.delete
                          i.fa.fa-close
                        a(href="img/masonry/" + i + ".jpg")
                          img(src="img/masonry/" + i + ".jpg", alt="")


                .tabs__content
                  h3.h3 Вставьте ссылку на ролик с vimeo.com
                  .video-url
                    .form-control
                      input(type="text")
                      label Ссылка на ролик в vimeo
                    a(href="").btn.btn--primary Сохранить
                  .row
                    -for(var x = 0; x < 7; x++)
                      .col.col--sm-4
                        a(href="#video").video.modal-open.remove-container
                          span.remove.delete
                            i.fa.fa-close
                          img(src="img/video.jpg", alt="")

                .tabs__content
                  form(action="/" method="post" enctype="multipart/form-data").dragndrop.dropzone.dashed.dashed--gray
                    input(type="file" multiple)
                  -for(var y = 0; y < 5; y++)
                    .audio.row.row--sm-bottom
                      .col.col--sm-7
                        .audio__title Группа «Фрукты» - Свадебный переполох
                        .form-control.audio__title-edit
                          input(type="text" value="Группа «Фрукты» - Свадебный переполох")
                          label Название
                        audio#audio_example.video-js.vjs-default-skin(controls preload="auto" data-setup='{}')
                          source(src="./audio/Led zeppelin-whole lotta love.mp3" type='audio/mp3')
                      .col.col--sm-5
                        .btn.btn--primary.btn--solid.btn--small.btn--edit Редактировать
                        .btn.btn--primary.btn--solid.btn--small.btn--save Сохранить
                        .btn.btn--black.btn--solid.btn--small.delete Удалить

                .tabs__content
                  form(action="/" method="post" enctype="multipart/form-data").dragndrop.dropzone.dashed.dashed--gray
                    input(type="file" multiple)
                  .masonry.documents-gallery
                    -for(var y = 1; y < 6; y++)
                      .masonry__column.remove-container
                        span.remove.delete
                          i.fa.fa-close
                        a(href="img/documents/" + y + ".jpg")
                          img(src="img/documents/" + y + ".jpg", alt="")


  #video.modal.modal--without-border
    video#my-player.video-js(
      controls
      fluid="true"
      preload="auto"
      poster="./img/video.jpg"
      data-setup="{}")
      source(src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4")
      source(src="//vjs.zencdn.net/v/oceans.webm" type="video/webm")
      source(src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg")

  include viewed.pug