extends layout.pug

block content
  .grig.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm-12
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link Новости
            a(href="").breadcrumbs__link.breadcrumbs__link--active Голосование на номинантов на премию «Золотая штучка»

    .row.article
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        h1.h1 Голосование на номинантов на премию «Золотая штучка»!
        .info
          time.date 14 марта 2017
          .view-count
            i.fa.fa-eye
            span 312
          .comment-count
            i.fa.fa-comments
            span 24
        .ya-share2( data-services="vkontakte,facebook,twitter,odnoklassniki" data-title:twitter="Yandex" data-counter)
        p Уважаемые дамы и господа!
          br
          | Уже активно идет голосование за Номинантов на Премию "Золотая штучка"! 
          br
          | Давайте поддержим Номинантов! Ваш голос очень важен для них!
        p Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также укрепление и развитие структуры способствует подготовки и реализации новых предложений. Товарищи! сложившаяся структура организации позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям.

      .col.col--lg-10.col--lg-offset-1.col--md-12
        .article-main-img
          img(src="img/news-1.jpg", alt="")

      
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        h2.h2 Рассказать друзьям
        .ya-share2( data-services="vkontakte,facebook,twitter,odnoklassniki" data-title:twitter="Yandex" data-counter)

        h2.h2 Комментарии
        form.comment.comment-form
          .comment__left
            label.comment__photo.nophoto(for="nophoto")
              input#nophoto(type="file")
          .comment__right
            .comment__name Александр Романов
            textarea.comment__textarea(placeholder="Ваш отзыв")
            button.btn.btn--primary.btn--solid Отправить
        -for(var y = 0; y < 2; y++)
          .comment
            .comment__left
              .comment__photo
                img(src="img/user.jpg" alt="")
            .comment__right
              .comment__name Александр Романов
              .comment__date 3 марта 2017
              .comment-text Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны постоянное информационно - пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения
  
  include viewed.pug