extends layout.pug

block content
  .grig.grid--container
    .breadcrumbs
      .row.row--sm-center
        .col.col--sm-12
          nav.breadcrumbs__nav
            a(href="").breadcrumbs__link Главная
            a(href="").breadcrumbs__link Каталог
            a(href="").breadcrumbs__link.breadcrumbs__link--active Выходи за меня: 20 необычных идей, как услышать заветное «ДА»

    .row.article
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        h1.h1 Выходи за меня: 20 необычных идей, как услышать заветное «ДА»
        .info
          time.date 14 марта 2017
          .view-count
            i.fa.fa-eye
            span 312
          .comment-count
            i.fa.fa-comments
            span 24
        .ya-share2( data-services="vkontakte,facebook,twitter,odnoklassniki" data-title:twitter="Yandex" data-counter)
        p Равным образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации дальнейших направлений развития. Повседневная практика показывает, что новая модель организационной деятельности позволяет оценить значение модели развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности требуют определения и уточнения форм развития.
        p Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации модели развития. Повседневная практика показывает, что реализация намеченных плановых заданий позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же дальнейшее развитие различных форм
          strong  деятельности 
          | представляет собой интересный эксперимент проверки новых предложений.

      .col.col--lg-10.col--lg-offset-1.col--md-12
        .article-main-img
          img(src="img/article.jpg", alt="")
          .article-img__author Фото сделано 
            a(href="" target="_blank").link Ольгой Вишневской

      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        h2.h2 План подготовки и бюджет
        p Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации новых предложений. Задача организации, в особенности же консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации. Повседневная практика показывает, что новая модель организационной деятельности играет важную роль в формировании новых предложений.
        p Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения систем массового участия. С другой стороны консультация с широким активом представляет собой интересный эксперимент проверки новых предложений. Таким образом сложившаяся структура организации играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.

      .col.col--lg-10.col--lg-offset-1.col--md-12
        .blockquote
          .quote
            .quote-icon
            blockquote Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности влечет 
          .user
            .ava.ava--small(style="background-image: url('img/user.jpg')")
            .user__info
              .user__name Быков Анатолий
              .user__role Директор отдела продаж

      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        p Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же укрепление и развитие структуры позволяет выполнять важные задания по разработке дальнейших направлений развития.
        p Таким образом консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что реализация намеченных плановых заданий позволяет выполнять важные задания по разработке системы обучения кадров, соответствует насущным потребностям. Таким образом реализация намеченных плановых заданий требуют от нас анализа систем массового участия. Идейные 
          a(href="").link  соображения 
          |  высшего порядка, а также реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий.
        .mark
          mark Разнообразный и богатый опыт рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
        h2.h2 Идеи и мечты
        p Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития. Равным образом рамки и место обучения кадров способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Таким образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям.
        p Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Значимость этих.
        .row
          .col.col--sm-3
            .article-img
              img(src="img/article-2.jpg", alt="")
            small Свадебное платьте «Афродита»
          .col.col--sm-9
            p Таким образом дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание направлений прогрессивного развития.
            p Равным образом рамки и место обучения кадров способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Таким образом реализация намеченных плановых заданий представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.

        p Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации существенных финансовых и административных условий.
        p Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации существенных финансовых и административных условий.
        .row
          .col.col--sm-6
            .article-img
              img(src="img/article-3.jpg", alt="")
            small Разнообразный и богатый опыт реализация намеченных плановых заданий
          .col.col--sm-6
            .article-img
              img(src="img/article-4.jpg", alt="")
            small Равным образом дальнейшее развитие различных форм деятельности
        p Задача организации, в особенности же рамки и место обучения кадров способствует подготовки и реализации модели развития. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности способствует подготовки и реализации существенных финансовых и административных условий.
        p Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке дальнейших направлений развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции позволяет оценить значение модели развития. Товарищи! дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
      .col.col--lg-10.col--lg-offset-1.col--md-12
        .row
          .col.col--sm-6.col--sm-flex
            a(href="").article-link.article-link--left
              span Главные причины, почему стоит обращаться в агентство.
              time 25 марта 2017
          .col.col--sm-6.col--sm-flex
            a(href="").article-link.article-link--right
              span Нестареющая свадебная классика - Белый свадебный букет.
              time 17 апреля 2017
      .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1
        h2.h2 Рассказать друзьям
        .ya-share2( data-services="vkontakte,facebook,twitter,odnoklassniki" data-title:twitter="Yandex" data-counter)

        h2.h2 Комментарии
        form.comment.comment-form
          .comment__left
            label.comment__photo.nophoto(for="nophoto")
              input#nophoto(type="file")
          .comment__right
            .comment__name Александр Романов
            textarea.comment__textarea(placeholder="Ваш отзыв")
            button.btn.btn--primary.btn--solid Отправить
        -for(var y = 0; y < 2; y++)
          .comment
            .comment__left
              .comment__photo
                img(src="img/user.jpg" alt="")
            .comment__right
              .comment__name Александр Романов
              .comment__date 3 марта 2017
              .comment-text Не следует, однако забывать, что укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны постоянное информационно - пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации соответствующий условий активизации. Равным образом реализация намеченных плановых заданий влечет за собой процесс внедрения
  
  include viewed.pug