<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h1 Навигация
    ul
      li: a(href="./index.html") Главная
      li: a(href="./catalog.html") Каталог
      li: a(href="./about_info.html") Общая информация
      li: a(href="./about_knowhow.html") Как это работает
      li: a(href="./about_team.html") Команда  «Свадебные штучки» 
      li: a(href="./about_friends.html") Партнеры и друзья
      li: a(href="./about_documents.html") Нормативные документы
      li: a(href="./about_comments.html") Отзывы о проекте
      li: a(href="./lk_specialist_edit.html") Лк исполнителя редактировать
      li: a(href="./specialist.html") Профиль специалиста
      li: a(href="./registration.html") Регистрация
      li: a(href="./registration_individual.html") Регистрация физического лица
      li: a(href="./registration_organisation.html") Регистрация юридического лица
      li: a(href="./request.html") Размещение заявки
      li: a(href="./articles.html") Статьи
      li: a(href="./article.html") Статья
      li: a(href="./tenders.html") Тендеры
      li: a(href="./404.html") 404