<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
  link(rel="stylesheet", href="styles/css/milligram.css")
body
  .container
    h3 Общие страницы
    ul
      li: a(href="./index.html") Главная
      li: a(href="./catalog.html") Каталог
      li: a(href="./request.html") Размещение заявки
      li: a(href="./consultant.html") Свадебный консультант
      li: a(href="./404.html") 404
    hr
    h3 Новости и статьи
    ul
      li: a(href="./articles.html") Статьи
      li: a(href="./article.html") Статья
      li: a(href="./news.html") Новости
      li: a(href="./new.html") Новость
    hr
    h3 О компании
    ul
      li: a(href="./about_info.html") Общая информация
      li: a(href="./about_knowhow.html") Как это работает
      li: a(href="./about_team.html") Команда  «Свадебные штучки» 
      li: a(href="./about_friends.html") Партнеры и друзья
      li: a(href="./about_documents.html") Нормативные документы
      li: a(href="./about_comments.html") Отзывы о проекте
    hr
    h3 Тендеры
    ul
      li: a(href="./tender_user.html") Тендеры для пользователей
      li: a(href="./tender_specialist.html") Тендеры для специалистов
    hr
    h3 Регистрации
    ul
      li: a(href="./registration.html") Регистрация
      li: a(href="./registration_individual.html") Регистрация физического лица
      li: a(href="./registration_organisation.html") Регистрация юридического лица
      li: a(href="./registration_user.html") Регистрация пользователя
    hr
    h3 Профили
    ul
      li: a(href="./specialist.html") Профиль специалиста вид специалиста
      li: a(href="./specialist_user_view.html") Профиль специалиста вид пользователя
      li: a(href="./specialist_not_catalog.html") Профиль специалиста вне каталога
    hr
    h3 Личный кабинет специалиста
    ul
      li: a(href="./lk_specialist_edit_profile.html") Лк исполнителя редактировать -> Профиль
      li: a(href="./lk_specialist_edit_portfolio.html") Лк исполнителя редактировать -> Портфолио
      li: a(href="./lk_specialist_edit_sales.html") Лк исполнителя редактировать -> Акции
      li: a(href="./lk_specialist_edit_balance.html") Лк исполнителя редактировать -> Баланс
    hr
    h3 Личный кабинет клиента
    ul
      li: a(href="./lk_user_edit_profile.html") Лк исполнителя редактировать -> Профиль
      li: a(href="./lk_user_edit_orders.html") Лк исполнителя редактировать -> Заявки