h1 Навигация
ul
  li: a(href="/index.html") Главная
  li: a(href="/catalog.html") Каталог
  li: a(href="/about_info.html") Общая информация
  li: a(href="/lk_specialist_edit.html") Лк исполнителя редактировать
  li: a(href="/specialist.html") Профиль специалиста
  li: a(href="/registration.html") Регистрация
  li: a(href="/registration_individual.html") Регистрация физического лица
  li: a(href="/registration_organisation.html") Регистрация юридического лица
  li: a(href="/request.html") Размещение заявки
  li: a(href="/article.html") Статья
  li: a(href="/tenders.html") Тендеры
  li: a(href="/404.html") 404