h1 Навигация
ul
  li: a(href="/index.html") Главная
  li: a(href="/catalog.html") Каталог
  li: a(href="/about_info.html") Общая информация
  li: a(href="/lk_specialist_edit.html") Лк исполнителя редактировать
  li: a(href="/specialist.html") Профиль специалиста