extends layout.pug

block content
  .registration-bg
    .grig.grid--container
      .row
        .col.col--lg-8.col--lg-offset-2.col--md-10.col--md-offset-1.col--sm-12
          .registration
            form.registration__form
              h1.h1 Я предлагаю услуги для праздника
              .registration__links
                a(href="registration_individual.html").registration__link Физическое лицо
                .registration__or или
                a(href="registration_organisation.html").registration__link.registration__link--active Юридическое лицо
              h3.h3 Контактное лицо
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Фамилия
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Имя
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Отчество
              .form-control
                input(type="email" pattern="/^$|\s+/")
                label E-mail
                i.form-control__icon.fa.fa-envelope
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Дата рождения
                i.form-control__icon.fa.fa-calendar-o
              .form-control
                select(pattern="/^$|\s+/" data-placeholder="Город").custom-select
                  option
                  option Сочи
                  option Краснодар
                i.form-control__icon.fa.fa-angle-down
              .form-control
                input(type="password" pattern="/^$|\s+/")
                label Пароль
                  i.form-control__icon.fa.fa-lock
              .form-control
                input(type="password" pattern="/^$|\s+/")
                label Повторите пароль
                i.form-control__icon.fa.fa-lock
              h3.h3 Контактная информация
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Номер телефона
                i.form-control__icon.fa.fa-phone
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Второй номер телефона (если есть)
                i.form-control__icon.fa.fa-phone
              h3.h3 Информация об организации
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label ОГРН
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Дата гос. регистрации
                i.form-control__icon.fa.fa-calendar-o
              .row
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Юридический адрес
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Номер офиса
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Наименование  юр.лица
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label ФИО генерального директора
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Название компании/коллектива/проекта
              h3.h3 Данные об исполнителе
              .form-control
                select(pattern="/^$|\s+/" data-placeholder="Выберите категорию").custom-select
                  option
                  option Тамада
                  option Ведущий
                i.form-control__icon.fa.fa-angle-down
              .form-control
                input(type="text" pattern="/^$|\s+/")
                label Сайт
              .row
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Стоимость за час
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label За мероприятие
              .form-control
                textarea(pattern="/^$|\s+/")
                label Приветственный текст (описание)
                .form-control__words 0/1000
              h3.h3 Аватар или логотип
              .ava.ava--small.nophoto
              label(for="file-upload").btn.btn--primary.btn--solid Изменить фото
                input(type="file" id="file-upload")
              h3.h3 Социальные сети
              .row
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Vk
                    i.form-control__icon.fa.fa-vk
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Instagram
                    i.form-control__icon.fa.fa-instagram
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Facebook
                    i.form-control__icon.fa.fa-facebook
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Youtube
                    i.form-control__icon.fa.fa-youtube-play
                .col.col--sm-6
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Одноклассники
                    i.form-control__icon.fa.fa-odnoklassniki
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Twitter
                    i.form-control__icon.fa.fa-twitter
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Vimeo
                    i.form-control__icon.fa.fa-vimeo
                  .form-control
                    input(type="text" pattern="/^$|\s+/")
                    label Мой мир
                    i.form-control__icon.myworld
              h3.h3 Тарифный план
              .form-control
                select(pattern="/^$|\s+/" data-placeholder="Тарифный план").custom-select
                  option
                  option Тариф 1
                  option Тариф 2
                i.form-control__icon.fa.fa-angle-down
              label.checkbox.checkbox--big
                input(type="checkbox" id="checkbox-1")
                label(for="checkbox-1")
                span Я согласен на обработку моих персональных данных и с 
                  a(href="").link условиями пользовательского соглашения
              .center
                button.btn.btn--primary Зарегистрироваться
            .registration__flower

            .registration__box
