extends layout.pug

block content
  .reg-action
    a(href="").reg-action__container.reg-action__container--first
      .reg-action__link
        p Я предлагаю услуги
        span для праздника
    a(href="").reg-action__container.reg-action__container--second
      .reg-action__link
        p Мне нужны услуги
        span для праздника