extends layout.pug

block content
  .grig.grid--container
    section.section
      h1.h1.without-offset Размещение заявки
      p Укажите данные для связи с вами и дату мероприятия
      .row
        .col.col--md-6
          form.form.offset
            .city-selection.city-selection--full-width
              .form-control.city-selection__city
                input(type="text")
                label Выберите город
              .city-selection__body
                .city-selection__title Выберите город
                .city-selection__close
                .form-control
                  input(type="text")
                  label Название города
                  i.form-control__icon.fa.fa-search
                ul.city-selection__list
                  li
                    a(href="").link Краснодар
                  li
                    a(href="").link Сочи
                  li
                    a(href="").link Армавир
                  li
                    a(href="").link Новороссийск
                  li
                    a(href="").link Анапа
            .form-control
              input(type="text")
              label Имя
            .form-control
              input(type="text").datepicker-inline-date
              label Дата мероприятия
              i.form-control__icon.fa.fa-calendar-o
            .form-control
              input(type="tel").phone-mask
              label Номер телефона
              i.form-control__icon.fa.fa-phone
            .form-control
              textarea
              label Информация о мероприятии
              .form-control__words 0/1000
            label.checkbox
              input(type="checkbox" id="checkbox-1")
              label(for="checkbox-1")
              span Я согласен с условиями 
              a(href="").link пользовательского соглашения
        .col.col--md-6.text--xs-center
          .datepicker-inline
        
      .center
        .btn.btn--primary Оставить заявку