.grid.grid--container.viewed
  h1.h1 Другие пользователи сейчас смотрят
  .row
    -for(var i = 0; i < 6; i++)
      .col.col--xl-2.col--lg-3.col--md-4.col--sm-6
        .specialist
          a(href="" style="background-image: url(img/specialist.jpg)").specialist__photo
          a(href="").specialist__name Анна Веретина
          .specialist__role Ведущая