$main = #111
$gray = #bbb
$light-gray = #eee
$primary = #e63f77
$secondary = #b8c949
$blue = #24a7f0

$error = #e20f0f

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid $light-gray

$radius = 4px

$shadow = 0 10px 20px rgba($gray, .2)

$font = 'Montserrat', 'Arial', 'Helvetica', sans-serif