$main = #111
$gray = #bbb
$light-gray = #eee
$primary = #e63f77
$secondary = #b8c949
$blue = #66a8f2

// socials
$vk = #507299
$ok = #f58220
$facebook = #3b5998
$twitter = #00aced
$insta = #517fa4
$youtube = #bb0000
$vimeo = #45bbff
$myworld = #0451a0

$border = 1px solid $light-gray

$radius = 4px

$font = 'Proxima nova', 'Arial', 'Helvetica', sans-serif