.error-page
  margin-top 8rem
  &__number
    color $light-gray - 10%
    font-size 25rem
    line-height .8
    margin-top 6rem
    margin-bottom 0
  &__sorry.sorry
    .sorry
      &__title
        font-size 3rem
        font-weight 600
        line-height 1
        margin-bottom 1.5rem
        margin-top 0
        text-transform uppercase
        span
          color $primary
          letter-spacing 2px
          margin-left .5rem
      &__subtitle
        font-size 1.8rem
        line-height 1
  &__img
    img
      max-width 100%


@media(max-width 1000px)
  .error-page
    text-align center
    &__img
      display none
    &__number
      font-size 16rem
      margin-bottom 2rem
    .sorry
      &__title
        font-size 2rem !important



