.reg-action
  background-image url('../../img/registration-choice.jpg')
  background-repeat no-repeat
  background-size cover
  background-position 50%
  height calc(100vh - 13rem)
  transition background-image 1s
  position relative
  &:before
    background linear-gradient(to top, #000, transparent)
    bottom 0
    content ''
    height 30rem
    position absolute
    width 100%
  // &:hover
  //   background-image url('../../img/registration-user.jpg')
  &__container
    align-items center
    display flex
    color #fff
    float left
    justify-content center
    padding 5rem 0
    position absolute
    text-align center
    text-decoration none
    size(100%, 50%)
    &:hover
      .reg-action__link
        bottom 5rem
    &--second
      right 0
  &__link
    bottom 50%
    position absolute
    transition all .7s
  p
    font-size 4rem
    font-weight 600
    letter-spacing 1px
    line-height 1
    margin 0
    text-transform uppercase
  span
    margin 0


.registration-bg
  background-color #f6fafb
  overflow hidden


.registration
  background #fff url('../../img/form-bg.jpg') 50% repeat
  box-shadow 0 14px 17px rgba(#999, .2)
  margin 5rem auto
  margin-bottom 8rem
  position relative
  max-width 67rem
  z-index 2
  &:before
    content ''
    background url('../../img/bg-candy.jpg') no-repeat
    background-size contain
    left -42rem
    position absolute
    top -5rem
    size(28rem, 42rem)
  &:after
    background url('../../img/registration-flower-2.png') no-repeat
    background-size contain
    content ''
    position absolute
    top 0
    right 0
    size(12rem, 16rem)
    z-index -1
  &__form
    padding 4rem 6rem

  &__flower
    background url('../../img/registration-flower.png') no-repeat
    background-size cover
    size(17rem, 100%)
  &__links
    align-items center
    display flex
    justify-content space-between
    margin-bottom 4rem
  &__link
    border 1px dashed $gray
    border-radius 10px
    color $gray
    cursor pointer
    display inline-block
    padding 1rem 4rem
    text-decoration none
    transition all .2s
    &:hover
      border-color $secondary
      border-style solid
    &--active
      color #fff
      background $secondary
      font-weight 600
  &__or
    color $main
  &__box
    background url('../../img/registration-box.png') no-repeat
    background-size contain
    circle(25rem)
    position absolute
    right -25rem
    top 120rem
    transform translateX((175 / 1260 * 100)vw)


.registration__form
  .checkbox
    margin-bottom 4rem
    margin-top 2rem

@media(max-width 1200px)
  .reg-action
    background none !important
    clearfix()
    height initial
    &:before
      display none
    &__container
      border-bottom $border
      padding 3rem 0
      position relative
      &:first-child
        border $border
    &__link
      color $main
      position relative
      p
        font-size 2.4rem
        text-transform initial

@media(max-width 767px)
  .reg-action
    &__container
      float none
      width 100%

@media(max-width 650px)
  .registration
    &__form
      padding 4rem 5%
    &__link
      padding 1rem 4%

@media(max-width 450px)
  .registration__links
    flex-direction column
  .registration
    &:before
      display none
    &__link
      text-align center
      width 100%
    &__or
      margin 1rem 0


