.col.col--md-3
  nav.sidebar
    li: a(href="about_info.html").sidebar__link.sitebar__link--active Общая информация
    li: a(href="about_knowhow.html").sidebar__link Как это работает?
    li: a(href="about_team.html").sidebar__link Команда "Свадебные штучки"
    li: a(href="about_friends.html").sidebar__link Партнеры и друзья
    li: a(href="about_documents.html").sidebar__link Нормативные документы
    li: a(href="about_comments.html").sidebar__link Отзывы о проекте