script(src="js/jquery.min.js")
script(src="js/slideout.min.js")
//- script(src="js/isotope.pkgd.min.js")
script(src="js/masonry.pkgd.min.js")
script(src="js/dropzone.js")
//- script(src="js/wow.min.js")
script(src="js/slick.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/flatpickr.min.js")
script(src="js/select2.min.js")
script(src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
script(src="//yastatic.net/share2/share.js")
//- script(src="js/mediaelement.min.js")
script(src="js/jquery.inputmask.bundle.min.js")
script(src="./js/video.min.js")
//- script(src="./js/infinite-scroll.pkgd.min.js")
script(src="./js/jquery.lazy.min.js")
script(src="js/main.js")