// .fadeUp
//   animation fadeUp .4s forwards ease
@keyframes smallFadeUp
  0%
    transform translateY(10px)
  100%
    transform none

@keyframes bigFadeUp
  0%
    transform translateY(-50px)
  100%
    transform none