@import '../helpers/variables.styl'

*
  box-sizing border-box
  &:focus
    outline 0

*:focus
  outline 0

html
  font-size 62.5%
  max-width 100%
  width 100%

body
  color $main
  background #fff
  font-family $font
  font-weight 400
  font-size 1.6em
  line-height 1.6
  margin 0
  max-width 100%
  padding 0
  text-size-adjust 100%
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  width 100%
  *
    box-sizing border-box