.ruble:before
  content '₽'
  content '\20BD'
  font-family 'Proxima Nova', 'Segoe UI', 'Arial', 'Geneva', 'Helvetica'
  font-style normal
  font-size 1.6rem
  font-weight 400
  margin-left .5rem

.reload
  background url('../../img/reload.png') no-repeat 50%
  background-size contain
  display inline-block
  circle(1.4rem)
  margin-left 1rem
  vertical-align middle
  transition transform .2s

.myworld
  background url('../../img/myworld.png') no-repeat
  background-size contain
  size(1.2rem, 1.6rem)
  vertical-align middle
  top 1.5rem !important