@media(min-width 1900px)
  // .grid--container
  //   max-width 1400px
  .tender-bg
    height 45rem


@media(max-width 1200px)
  .header-nav
    display none
  .specialist
    &__photo
      height 45rem