@import 'helpers/variables.styl'
@import 'helpers/mixins.styl'
@import 'base/base.styl'
@import 'base/typography.styl'
@import 'base/animations.styl'
@import 'base/icons.styl'
@import 'modification/modification.styl'

@import 'pages/index.styl'
@import 'pages/inner.styl'
@import 'pages/form.styl'
@import 'pages/specialist.styl'
@import 'pages/registration.styl'
@import 'pages/articles.styl'
@import 'pages/tenders.styl'
@import 'pages/error-page.styl'
@import 'pages/posts.styl'
@import 'pages/about.styl'



.grid--container
  max-width 1216px

.without-margin
  margin 0

.empty
  display block
  height 9rem

.section
  margin-top 4rem

.offset
  margin-bottom 12rem
  & + .viewed
    margin-top 0

.link
  display inline-block
  color $blue
  border-bottom 1px solid rgba($blue, .3)
  line-height 1.2
  text-decoration none
  transition all .2s
  &:hover
    border-color rgba($blue, .7)
    color $blue - 10%
  &--primary
    border none
    color $primary

.right
  float right

.justify
  display flex
  justify-content space-between

.page
  transition transform .4s .1s ease

.header-nav
  li
    display inline-block
    margin-right 1.5rem
    &:last-child
      margin-right 0
  &__link
    color $main
    line-height 6rem
    text-decoration none
    &:hover
      color $primary

.logo
  display inline-block
  background url('../../img/logo.png') no-repeat
  // background-size contain
  height 6rem
  float left
  margin-right 2rem
  width 15rem

.city
  display inline-block
  margin-right 2rem
  &__icon
    background-image url('../../img/location.png')
    background-repeat no-repeat
    background-size 100%
    display inline-block
    height 2rem
    margin-right .4rem
    vertical-align middle
    width 1.5rem
  &__name
    display inline-block
    vertical-align middle



.main-header
  background-color #fff
  // border-bottom 1px solid $light-gray
  max-height 10rem
  padding-bottom 1.5rem
  padding-top 1.5rem
  position fixed
  top 0
  transition all .4s
  width 100%
  z-index 100
  chromefix()
  &__right
    text-align right
  .link--primary
    margin-right 2rem
  &--transparent
    background-color transparent
    border-bottom none
    .logo
      background-image url('../../img/logo-white.png')
    .header-nav
      &__link
        color #fff
        &:hover
          color $primary
    .btn
      border 1px solid #fff
      background-color transparent
      transition all .2s
      &:hover
        background-color $primary
        border-color $primary
    .link
      color #fff
    .city__name
      color #fff
  &--scroll
    background-color #fff
    box-shadow 0 8px 20px 5px rgba($gray, .1)
    border-bottom none
    .logo
      background-image url('../../img/logo.png')
    .header-nav
      &__link
        color $main
        &:hover
          color $primary
    .btn
      border none
      background-color $primary
    .link
      color $primary
    .city__name
      color $main



.banners
  .banner
    color #fff
    display inline-block
    font-weight 700
    height 4.8rem
    text-align center
    text-decoration none
    width 100%
    &__icon
      background-size contain !important
      display inline-block
      height 3rem
      line-height 4.8rem
      margin-right .5rem
      vertical-align middle
    &__title
      display inline-block
      line-height 4.8rem
      vertical-align middle
    &--type-1
      background $secondary url('../../img/pattern1.png')
      .banner__icon
        background url('../../img/pattern-icon-1.png') no-repeat
        width 3.2rem
    &--type-2
      background $primary url('../../img/pattern2.png')
      .banner__icon
        background url('../../img/pattern-icon-2.png') no-repeat
        width 5rem



.center
  text-align center
  width 100%

.breadcrumbs
  // border-bottom 1px dashed rgba($main, .2)
  dashed()
  margin-bottom 4rem
  padding 1.2rem 0
  &__link
    color $main
    position relative
    margin-right 3.2rem
    text-decoration none
    &:after
      content '\f105'
      font-family FontAwesome
      position absolute
      right -1.6rem
    &--active
      color $secondary
      &:after
        display none
    &:hover
      color $primary
  h1
    font-size 1.8rem
    font-weight 400
    margin 0


.ava
  display inline-block
  background-size cover !important
  border-radius 50%
  circle(9.6rem)
  vertical-align middle
  &--small
    circle(6.4rem)
  &.nophoto
    background url('../../img/nophoto.jpg') 50% no-repeat
  & + .btn
    margin-left 1em


.sidebar
  border $border
  border-radius $radius
  padding 0
  &__link
    color $main
    display block
    border-bottom $border
    // line-height 4rem
    line-height 1
    padding 1.5rem 0
    padding-left 1rem
    text-decoration none
    &:hover
      color $primary
    &--active
      background-color rgba($secondary, .1)
      color $secondary
      font-weight 600
      &:hover
        color $secondary
    &--special
      color $primary
      font-weight 600

.catalog
  margin-bottom 3rem
  // .specialist
  //   &__photo
  //     height 28rem

.specialist
  display block
  margin-bottom 2.5rem
  &__photo
    background-position top center
    background-size cover !important
    display block
    height 24rem
    margin-bottom .5rem
    overflow hidden
    position relative
    text-align center
    img
      max-width 100%
  &__plate
    background $primary
    color #fff
    display block
    font-size 1.2rem
    font-weight 700
    left 0
    letter-spacing 1px
    padding .5rem 1rem
    position absolute
    text-transform uppercase
    top 0
  &__name
    color $main
    display block
    font-size 1.8rem
    font-weight 600
    text-decoration none
    &:hover
      color $primary
  &__role
    color $primary
    font-size 1.2rem
    font-weight 600
    text-transform uppercase
  &--big
    .specialist__photo
      height 38rem

.slider
  img
    max-width 100%

.phone
  margin-bottom 1rem
  .fa
    color $gray
    display inline-block
    font-size 1.6rem
    margin-right 1rem
  &__number
    display inline-block
    margin-right .5rem
  &__show
    color $secondary
    cursor pointer
    display inline-block
    font-size 1.2rem
    font-weight 600
    letter-spacing 1px
    text-transform uppercase


.mail
  .fa
    color $gray
    margin-right 1rem

.show-more
  border-bottom 2px dashed $secondary
  color $secondary
  cursor pointer
  font-weight 600
  display inline-block


.masonry
  margin-left -1.6rem
  margin-right -1.6rem
  clearfix()
  &__column
    margin-bottom 1.4rem
    padding 1.6rem
    width 33.33%
    img
      display inline-block
      max-width 100%
  &--offset
    margin-bottom 4rem

.user
  display inline-block
  .ava
    display block
    float left
  &__info
    display block
    margin-top 1.5rem
    margin-left 7.5rem
    width 100%
  &__name
    display block
    font-weight 600
    line-height 1
    & + .phone
      margin-top .5rem
  &__role
    display block
    font-size 1.2rem

.info
  color $gray

.date,
.view-count,
.comment-count
  display inline-block
  margin-right 1.5rem
  .fa
    margin-right .5rem

.dashed
  border 2px dashed $secondary
  margin-bottom 2rem
  padding 2.4rem
  &__header
    font-weight 600
  &__date
    color $gray
    margin-bottom .5rem
  &--big
    font-size 2.4rem
    font-weight 600
    line-height 1.2
    margin-bottom 6.4rem
    padding 2.4rem 0
  &--primary
    border-color $primary
  // &__link
  //   color $main
  //   display inline-block
  //   font-size 2.4rem
  //   font-weight 600
  //   line-height 1.2
  //   margin-bottom 1rem
  //   text-decoration none


.viewed
  margin-bottom 8rem
  margin-top 10rem
  & + .main-footer
    margin-bottom 0


.socials
  &__item
    display inline-block
    text-align center
    text-decoration none
    vertical-align middle
    &:not(:last-child)
      margin-right 1.5rem
    .fa
      border 1px solid $light-gray
      border-radius 50%
      circle(4.8rem)
      color $gray
      display table-cell
      font-size 2rem
      vertical-align middle
      &.fa-vk
        color $vk
        &:hover
          border-color $vk
      &.fa-instagram
        color $insta
        &:hover
          border-color $insta
      &.fa-twitter
        color $twitter
        &:hover
          border-color $twitter
      &.fa-odnoklassniki
        color $ok
        &:hover
          border-color $ok
      &.fa-facebook
        color $facebook
        &:hover
          border-color $facebook
      &.fa-vimeo
        color $vimeo
        &:hover
          border-color $vimeo
      &.fa-youtube-play
        color $youtube
        &:hover
          border-color $youtube


.socials-type-2
  .fa
    font-size 2.4rem
  a
    vertical-align middle
    &:not(:last-child)
      margin-right 1.5rem
  i
    vertical-align middle
  .fa-vk
    color $vk
  .fa-odnoklassniki
    color $ok
  .fa-facebook
    color $facebook
  .fa-twitter
    color $twitter
  .fa-instagram
    color $insta
  .fa-youtube-play
    color $youtube
  .fa-vimeo
    color $vimeo



.modal
  animation bigFadeUp .3s forwards ease
  background #fff
  box-shadow 0 1rem 2rem rgba($main, .1)
  border-radius $radius
  display none
  margin 0 auto
  max-width 40rem
  padding 2.4rem
  position relative
  width auto
  &__title
    font-size 2.4rem
    font-weight 600
    margin-bottom 2rem
  &__label
    color $gray
    margin .5rem 0
    &--type-2
      margin 2.4rem 0
      position relative
      &:before,
      &:after
        background-color $light-gray
        content ''
        height 1px
        position absolute
        top 45%
        width 25%
      &:before
        left 0
      &:after
        right 0
  .socials-type-2
    margin 2rem 0
  .center
    margin-top 1.6rem

.mfp-ready .modal
  display block

.mfp-close,
.mfp-close:active
  top 1.5rem
  right 1rem

.mfp-gallery
  .mfp-close,
  .mfp-close:active
    opacity 1
    top 2.4rem
    right -4rem
  .mfp-close:hover
    color $primary
    cursor pointer

.webformula
  float right
  img
    display inline-block
    margin-right 1rem
    vertical-align middle
    max-width 4.8rem
  .link
    vertical-align middle

.main-footer
  margin-top 10rem
  &__bottom
    background-color #fbfbfb
    margin-top 2rem
    padding 2rem 0
  .socials
    float right


@import 'base/media.styl'